<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <h1>Todo List</h1>
            <form role="form">
                <input type="text" class="form-control" placeholder="Your Task" name="task" ng-model="newTodo">
            </form>
            <button type="button" class="btn btn-primary">Add</button>
        </div>
        <div class="list-group">
            <todo-panel ng-repeat="todo in todos"></todo-panel>
        </div>
    </div>
</div>